@font-face {
    font-family: 'paralines';
    src: url('paralines-webfont.woff2') format('woff2'),
         url('paralines-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
* {
	padding: 0;
	margin: 0;
}

canvas {
	background: #000;
	display: block;
	margin: 0 auto;
}
